/******************************************************************
Site Name:
Author:

Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

// Base measurement
$slab: 8px;


/********************
BONES Mixin scss (migrated to keep mixins and styles separate)
********************/
// text alignment
.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


// alerts and notices
%alert {
	//margin: 10px;
	padding: $slab $slab * 2;
	border: 1px solid;
}

.alert-help p {
	@extend %alert;
	border-color: darken($alert-yellow, 5%);
	background: $alert-yellow;
}

.alert-info p {
	@extend %alert;
	border-color: darken($alert-blue, 5%);
	background: $alert-blue;
}

.alert-error p {
	@extend %alert;
	border-color: darken($alert-red, 5%);
	background: $alert-red;
}

.alert-success p {
	@extend %alert;
	border-color: darken($alert-green, 5%);
	background: $alert-green;
}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	width: 100%;
	margin: 0 auto;
}



//
// Typography
// --------------------------------------------------


/*********************
GENERAL STYLES
*********************/
$base_line_height: 35px;
body {
	font-family: $sans-serif;
	font-size: 100%;
	line-height: 1.3;
	color: #565656;
	overflow: auto;
}

ul, ol, p {
	// @TODO: Rem this up!
  margin: 0 0 $slab * 3;
}
.lead {
  margin-bottom: ($slab * 5);
  +font-size{};//(14)
  font-weight: 200;
}


// Emphasis & misc
// -------------------------

// Ex: 14px base font * 85% = about 12px
small   { font-size: 85%; }

strong  { font-weight: bold; }
em      { font-style: italic; }
cite    { font-style: normal; }

// Utility classes
.muted               { color: $grey-light; }
a.muted:hover,
a.muted:focus        { color: darken($grey-light, 10%); }

.text-warning        { color: $warning_text; }
a.text-warning:hover,
a.text-warning:focus { color: darken($warning_text, 10%); }

.text-error          { color: $error_text; }
a.text-error:hover,
a.text-error:focus   { color: darken($error_text, 10%); }

.text-info           { color: $info_text; }
a.text-info:hover,
a.text-info:focus    { color: darken($info_text, 10%); }

.text-success        { color: $success_text; }
a.text-success:hover,
a.text-success:focus { color: darken($success_text, 10%); }

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }


// Headings
// -------------------------

h1, h2, h3, h4, h5, h6 {
  margin: 0;//(($slab * 5) / 2) 0;
  font-family: $sans-serif;
  //font-weight: $headings_font_weight;
  //line-height: ($slab * 5);
  color: $headings-color;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
  small {
    font-weight: normal;
    line-height: 1;
    color: $grey-light;
  }
}

//h1, h2, h3 {
	//line-height: ($slab * 5) * 1.5;
//}

h1 { @include font-size(22); } // ~38px
h2 { @include font-size(20); } // ~32px
h3 { @include font-size(18); } // ~24px
h4 { @include font-size(18); } // ~18px
h5 { @include font-size(16); } // ~12px
h6 { @include font-size(16); } // ~12px

h1 small { @include font-size(18); } // ~24px
h2 small { @include font-size(18); } // ~18px
h3 small { @include font-size(14); }
h4 small { @include font-size(14); }


// Lists
// --------------------------------------------------

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}
li {
  //line-height: ($slab * 5);
}

// Remove default list styles
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style: none;
}

// Single-line list items
ul.inline,
ol.inline {
  margin-left: 0;
  list-style: none;
  > li {
    display: inline-block;
  }
}

// Description Lists
dl {
  margin-bottom: ($slab * 5);
}
dt,
dd {
  //line-height: ($slab * 5);
}
dt {
  font-weight: bold;
}
dd {
  margin-left: ($slab * 3);
}
// Horizontal layout (like forms)
.dl-horizontal {
  @include clearfix(); // Ensure dl clears floats if empty dd elements present
  dt {
    float: left;
    width: 35px - 20;
    clear: left;
    text-align: right;
    @include text-overflow();
  }
  dd {
    margin-left: 35px;
  }
}

// MISC
// ----

// Horizontal rules
hr {
  margin: ($slab * 5) 0;
  border: 0;
  border-top: 1px solid $hr_border;
  border-bottom: 1px solid $white;
}

// Abbreviations and acronyms
abbr[title],
// Added data-* attribute to help out our tooltip plugin, per https://github.com/twitter/bootstrap/issues/5257
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted $grey-light;
}
abbr.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

// Blockquotes
blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 ($slab * 5);
  border-left: 5px solid $grey-lighter;
  p {
    margin-bottom: 0;
    @include font-size(12);
    font-weight: 300;
  }
  small {
    display: block;
    //line-height: ($slab * 5);
    color: $grey-light;
    &:before {
      content: '\2014 \00A0';
    }
  }

  // Float right with text-align: right
  &.pull-right {
    float: right;
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid $grey-lighter;
    border-left: 0;
    p,
    small {
      text-align: right;
    }
    small {
      &:before {
        content: '';
      }
      &:after {
        content: '\00A0 \2014';
      }
    }
  }
}

// Quotes
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

// Addresses
address {
  display: block;
  margin-bottom: ($slab * 5);
  font-style: normal;
  //line-height: ($slab * 5);
}

/*********************
LINK STYLES
*********************/

a, a:visited {
	color: $link-color;

	/* on hover */
	&:hover, &:focus {
		color: $link-hover;
	}

	/* on click */
	&:active {
	}

	/* mobile tap color */
	&:link {
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/*********************
NAVIGATION STYLES
*********************/

/*
all navs have a .nav class applied via
the wp_menu function; this is so we can
easily write one group of styles for
the navs on the site so our css is cleaner
and more scalable.
*/
%togglable {
	.js & {
		display:none;
		&.show {
			display: block;
		}
	}
}
%menu-button {
	padding: $slab ($slab * 2);
}
.clickable {
	@extend %menu-button;
	//border-top: 1px solid $menu-border;
	//border-bottom: 1px solid $menu-border;
	//padding: 0 14px;
	margin: 0;
	@include bg(darken($grey-lighter, 10%));
	cursor: pointer;
	position: relative;

	width: 30%;
	float: right;
}

	.menu-icon {
		width: 18px;
		float: right;
		margin-top: 4px;
		div {
			height: 3px;
			width:100%;
			margin-bottom: 3px;
			border-radius: 2px;
			background: $grey;
		}
	}
#logo {
	float: left;
}
.header nav {
	position: relative;
}
.nav {
	border-top: 1px solid $menu-border;
	margin: 0;
	@extend %togglable;
	.js & {
		border-top: 0;


		// This only applies to js enabled windows
		// We use js to adjust the top position
	  position: absolute;
	  left: 0;
	  right: 0;
	  z-index: 3;
	  top: 0;
	}
	li {
		a {
			@extend %menu-button;
			display: block;
			text-decoration: none;
			@include bg($grey-lighter);
			border-bottom: 1px solid $menu-border;
		}
		ul.sub-menu,
		ul.children {
			@extend %togglable;
			li {
				a {
					@include bg($white);
					padding-left: $slab * 4;
				}
			}
		}
	} /* end .menu li */
} /* end .nav */


/*********************
POSTS & CONTENT STYLES
*********************/
img {
	margin: 0;
	width: 100%;
	height: auto;
}

#content {
	margin-top: 14px;
}


		/* post meta */
		.byline {
			color: #999;
		}

		.entry-content {
			dd {
				margin-left: 0;
				color: #787878;
			}

			/*
			image alignment on a screen this size may be
			a bit difficult. It's set to start aligning
			and floating images at the next breakpoint,
			but it's up to you. Feel free to change it up.
			*/
			.alignleft, img.alignleft {}
			.alignright, img.alignright {}
			.aligncenter, img.aligncenter {}

			video, object {
				max-width: 100%;
				height: auto;
			}

			pre {
				background: #eee;
				border: 1px solid #cecece;
				padding: 10px;
			}

		} /* end .entry-content */

		.wp-caption {
			max-width: 100%;
			background: #eee;
			padding: 5px;

			p.wp-caption-text {
				font-size: 0.85em;
				margin: 4px 0 7px;
				text-align: center;
			}

		} /* end .wp-caption */

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.page-navigation,
.wp-prev-next {
	margin: 1.1em 0 2.2em;
}
	.bones_page_navi {

		li {
			float: left;
			margin-left: 10px;

			a {
				padding: 3px 6px;
				display: block;
				text-decoration: none;
				position: relative;

				&:hover,
				&:focus {
					color: #f01d4f;
					text-decoration: underline;
				}
			}

		}

		/* current page link */
		li.bpn-current {
			padding: 3px 6px;
			border-bottom: 2px solid #f01d4f;
			position: relative;

		} /* end .bones_page_navi .bpn-current */

		/* common styles for page-navi links */
		li.bpn-prev-link,
		li.bpn-next-link {
			font-weight: 700;

			a {
				padding: 0;
			}
		}

		/* remove the bg on end links */
		li.bpn-prev-link a:hover,
		li.bpn-next-link a:hover,
		li.bpn-first-page-link a:hover,
		li.bpn-last-page-link a:hover {
			background: none;
		}

	} /* end .bones_page_navi */

	/* fallback previous & next links */
	.wp-prev-next {

		.prev-link {
			float: left;
		}

		.next-link {
			float: right;
		}

	} /* end .wp-prev-next */

/******************************************************************
COMMENT STYLES
******************************************************************/


.commentlist {

	li {
		position: relative;
		clear: both;
		overflow: hidden;
		list-style-type: none;
		margin-bottom: 1.5em;
		padding: 0.7335em 10px;

		&:last-child {
			margin-bottom: 0;
		}

		ul.children {
			margin: 0;
		} /* end .commentlist li ul.children */
	}

	li[class*=depth-] {
		margin-top: 1.1em;
	}

	li.depth-1 {
		margin-left: 0;
		margin-top: 0;
	}

	li:not(.depth-1) {
		margin-right: -10px;
		margin-left: -10px;
		margin-top: 0;
		padding-bottom: 0;
	}

	/* general comment classes */
	.odd {
		background: #eee;
	}
	.even {
		background: #fefefe;
	}
	/* vcard */
	.vcard {
		margin-left: 50px;

		cite.fn {
			font-weight: 700;
			font-style: normal;
		}

		time {
			float: right;

			a {
				color: #999;
				text-decoration: none;

				&:hover {
					text-decoration: underline;
				}

			}

		}

		img.avatar {
			position: absolute;
			left: 10px;
			padding: 2px;
			border: 1px solid #cecece;
			background: #fff;
		}

	} /* end .commentlist .vcard */

	/* comment content */
	.comment_content {
		margin-left: 50px;

		p {
			margin: 0.7335em 0 1.5em;
			font-size: 1em;
			line-height: 1.5em;
		}

	} /* end .commentlist .comment_content */

	/* comment reply link */
	.comment-reply-link {
		text-decoration: none;
		float: right;
		background: #4598bb;
		padding: 3px 5px;
		color: #fff;
		opacity: 0.65;
		margin-bottom: 10px;
		font-weight: 700;
		font-size: 0.9em;

		&:hover,
		&:focus {
			opacity: 1;
		}

	} /* end .commentlist .comment-reply-link */

} /* end .commentlist */

/******************************************************************
COMMENT FORM STYLES
******************************************************************/

.respond-form {
	//margin: 1.5em 10px;
	//padding-bottom: 2.2em;
}

	form {
		//margin: 0.75em 0;

		li {
			list-style-type: none;
			clear: both;
			margin-bottom: 0.7335em;

			label,
			small {
				display: none;
			}
		}

		input[type=text],
		input[type=email],
		input[type=url],
		textarea {
			padding: 3px $slab;
			background: #efefef;
			border: 2px solid #cecece;
			//line-height: 1.5;

			&:focus {
				background: #fff;
			}

			/* form validation */
			&:invalid {
				outline: none;
				border-color: #fbc2c4;
				background-color: #f6e7eb;
				-webkit-box-shadow: none;
				   -moz-box-shadow: none;
				    -ms-box-shadow: none;
						box-shadow: none;
			}
		}
		select,
		input[type=text],
		input[type=email],
		input[type=url] {
			max-width: 100%;
			//min-width: 250px;
		}

		textarea {
			resize: none;
			width: 100%;
			height: 150px;
		}

	}

	/* comment form title */
	#comment-form-title {
		margin: 0 0 1.1em;
	}

	/* allowed tags */
	#allowed_tags {
		//margin: 1.5em 10px 0.7335em 0;
	}

	/* no comments */
	.nocomments {
		//margin: 0 20px 1.1em;
	}

/*********************
FOOTER STYLES
*********************/

.article-header .byline,
.footer p,
.entry-content p,
.entry-content ul,
form p, h1, h2, h3, h4, h5, h6,
.article-footer {
	padding: 0 $slab * 2;
}
form .alert p {
	padding: 0;
}
.entry-content ul {
	list-style-type: disc;
	padding-left: $slab * 6;
}




.button {
	background-color: $link-color;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	text-indent:0;
	display:inline-block;
	color: #ffffff;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-align:center;

	padding: $slab $slab * 2 $slab $slab * 2;

	outline: none; border: none;
	-webkit-font-smoothing: antialiased;
	border-bottom: 5px solid $grey-light;
}
.button:hover {
	background-color: lighten($link-color, 10%);
	border-bottom-color: $grey-lighter;
}
.button:active {
	position:relative;
	top:1px;
}

.user-is-admin {
	b:after {
		content: ' The html tag <b> is deprecated! Use <h2> or <strong> instead! ';
	}
	i:after {
		content: ' The html tag <i> is deprecated! Use <em> instead! ';
	}
	i:after, b:after {
		color: $red;
		display: block;
	}
}