/*
	These are the breakpoints for your website.
	These can be customised to your design. The 
	more that I think about it, the more I'm 
	starting to realise that these breakpoints 
	need to change for the design, and not for 
	the sizes they are. They're just a guide. 
	In fact, I insist, you MUST change these.
*/

$mobile: 	30.063em; //481px
$tablet: 	47.900em; //766px
$desktop: 	64.375em; //1030px
$cinema: 	77.500em; //1240px
$thin: 		42.500em; //680px