/******************************************************************
Site Name: MEAT 
Author: Eivin + Andrew 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: MEAT
Author: Eivin + Andrew

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants. I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

******************************************************************/
/*********************
CLEARFIXIN'
*********************/
.clearfix {
  zoom: 1; }
  .clearfix:before, .clearfix:after {
    content: "";
    display: table; }
  .clearfix:after {
    clear: both; }

.margin-auto {
  margin: 0 auto; }

.vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/********************
meat Mixin scss (migrated to keep mixins and styles separate)
********************/
.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.marginauto {
  margin: 0 auto !important;
  float: none !important; }

/*********************
TOOLS
*********************/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.image-replacement {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* Colours */
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/*********************
TYPOGRAPHY
*********************/
/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic; }

/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
.alert-help, .alert-info, .alert-error, .validation_message, .alert-success {
  padding: 7px 14px;
  border: 1px solid; }

.alert-help {
  border-color: #e8d71c;
  background: #eadb33; }

.alert-info {
  border-color: #1d8dc0;
  background: #209dd6; }

.alert-error, .validation_message {
  border-color: #aa2e2e;
  background: #be3333; }

.alert-success {
  border-color: #96b31f;
  background: #a8c923; }

/******************************************************************
Site Name: MEAT
Author: Eivin + Andrew

Stylesheet: Grid Stylesheet

I've seperated the grid so you can swap it out easily. It's
called at the top the style.scss stylesheet.

There are a ton of grid solutions out there. You should definitely
experiment with your own. Here are some recommendations:

http://gridsetapp.com - Love this site. Responsive Grids made easy.
http://susy.oddbird.net/ - Grids using Compass. Very elegant.
http://gridpak.com/ - Create your own responsive grid.

The grid below is a combination of the 1140 grid and Twitter Boostrap. 
I liked 1140 but Boostrap's grid was way more detailed so I merged them 
together, let's see how this works out. If you want to use 1140, the original 
values are commented out on each line.

******************************************************************/
.onecol {
  width: 5.80027%;
  width: calc((99.99% - 11rem) / 12); }

.twocol {
  width: 14.36297%;
  width: calc((99.99% - 5rem) / 6); }

.threecol {
  width: 22.92568%;
  width: calc((99.99% - 3rem) / 4); }

.fourcol {
  width: 31.48838%;
  width: calc((99.99% - 2rem) / 3); }

.fivecol {
  width: 40.05108%;
  width: calc((99.99% - 1.4rem) / 2.4); }

.sixcol {
  width: 48.61378%;
  width: calc((99.99% - 1rem) / 2); }

.sevencol {
  width: 57.17649%;
  width: calc((99.99% - 0.71429rem) / 1.71429); }

.eightcol {
  width: 65.73919%;
  width: calc((99.99% - 0.5rem) / 1.5); }

.ninecol {
  width: 74.30189%;
  width: calc((99.99% - 0.33333rem) / 1.33333); }

.tencol {
  width: 82.86459%;
  width: calc((99.99% - 0.2rem) / 1.2); }

.elevencol {
  width: 91.4273%;
  width: calc((99.99% - 0.09091rem) / 1.09091); }

.twelvecol {
  width: 99.99%;
  width: calc((99.99% - 0rem) / 1); }

/*	//This is how i've been using responsive widths, you're able to overwrite these per stylesheet

	article {
		width: col_width(6);
		width: col_width(6, true);
		
		float: left;
		margin-left: $gutter;
		margin-left: calc(1rem * 1);	
			
		&.first{ margin-left: 0;}
		&.last{ float: right;}
	}
*/
.onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol, .fifthcol, .threefifth {
  position: relative;
  float: left;
  margin-left: 2.76243%;
  margin-left: calc(1rem * 1); }

.first {
  margin-left: 0; }

.last {
  float: right; }

.gutter-top {
  margin-top: 2.76243%;
  margin-top: calc(1rem * 1); }

.gutter-bottom {
  margin-bottom: 2.76243%;
  margin-bottom: calc(1rem * 1); }

/******************************************************************
Site Name: MEAT 
Author: Eivin + Andrew 

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to 
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection. 

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
@media only screen and (max-width: 47em) {
  #logo {
    width: 100%; }
    #logo img {
      max-width: 300px;
      margin: 0 auto; } }
/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
.menu {
  /* end .menu ul */ }
  .menu ul {
    /* end .menu ul li */
    /* highlight current page */
    /* end current highlighters */ }
    .menu ul li {
      /*
      plan your menus and drop-downs wisely.
      */ }
      .menu ul li a {
        /*
        you can use hover styles here even though this size
        has the possibility of being a mobile device.
        */ }

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }
  .entry-content .alignleft, .entry-content img.alignleft {
    margin-right: 1.5em;
    display: inline;
    float: left; }
  .entry-content .alignright, .entry-content img.alignright {
    margin-left: 1.5em;
    display: inline;
    float: right; }
  .entry-content .aligncenter, .entry-content img.aligncenter {
    margin-right: auto;
    margin-left: auto;
    display: block;
    clear: both; }

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
.footer {
  padding: 1em 0.5em;
  text-align: center; }
  .footer .widget {
    width: 45.85636%;
    width: calc((100% - 3em) / 2);
    position: relative;
    float: left;
    margin-left: 2.76243%;
    margin-left: calc(1em * 1); }
    .footer .widget:first-child {
      margin-left: 0; }
    .footer .widget ul {
      padding: 0;
      margin: 0; }
      .footer .widget ul li {
        padding: 0;
        margin: 0; }
    @media only screen and (max-width: 47.9em) {
      .footer .widget {
        margin-bottom: 2em;
        text-align: center; }
        .footer .widget:nth-child(odd) {
          margin-left: 0; } }

/******************************************************************
Site Name: MEAT
Author: Eivin + Andrew

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
  font-size: 100%;
  line-height: 1.5; }

/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 1140px;
  margin: 0 auto; }

/*********************
HEADER STYLES
*********************/
h1, .h1 {
  font-size: 40px;
  font-size: 2.5rem; }

h2, .h2 {
  font-size: 32px;
  font-size: 2rem; }

h3, .h3 {
  font-size: 24px;
  font-size: 1.5rem; }

h4, .h4 {
  font-size: 20px;
  font-size: 1.25rem; }

h5, .h5 {
  font-size: 16px;
  font-size: 1rem; }

h6, .h6 {
  font-size: 13.6px;
  font-size: 0.85rem; }

/*********************
HEADER STYLES
*********************/
#logo {
  width: 22.92568%;
  width: calc((99.99% - 3rem) / 4);
  float: left;
  margin-left: 0; }
  #logo img {
    margin: 0em auto;
    max-width: 100%;
    position: relative;
    z-index: 20; }

.overflow {
  overflow: hidden; }

img {
  vertical-align: bottom; }

/*********************
NAVIGATION STYLES
*********************/
.mobile-only {
  display: none;
  visibility: hidden; }

.nav {
  text-align: center;
  margin: 10px 0;
  vertical-align: middle;
  border-bottom: 2px solid #ececec;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */ }
  .js .nav {
    display: block;
    top: auto;
    right: auto;
    left: auto;
    max-height: 100%; }
  .nav li {
    display: inline-block;
    position: relative;
    border-radius: 3px 3px 0 0;
    /*
    you can use hover styles here even though this size
    has the possibility of being a mobile device.
    */
    /*
    plan your menus and drop-downs wisely.
    */
    /* showing sub-menus */ }
    .nav li:hover, .nav li:focus {
      color: white;
      background: #f95220; }
      .nav li:hover a, .nav li:focus a {
        color: white; }
    .nav li a {
      border-bottom: 0;
      text-transform: uppercase;
      color: #686868;
      font-size: 13.6px;
      font-size: 0.85rem;
      letter-spacing: 0.05em; }
      .nav li a:hover, .nav li a:focus {
        color: white;
        background: #e03806; }
    .js .nav li + li ul.show.sub-menu:before, .js .nav li + li ul.show.children:before,
    .nav li + li ul.sub-menu:before,
    .nav li + li ul.children:before {
      content: "\e000";
      font-size: 104px;
      font-size: 6.5rem; }
    .js .nav li ul.show.sub-menu, .js .nav li ul.show.children,
    .nav li ul.sub-menu,
    .nav li ul.children {
      margin-top: 0;
      border-top: 0;
      position: absolute;
      display: none;
      z-index: 15;
      text-align: left;
      color: white;
      background: #f95220;
      padding: 1em 1000em 1.5em;
      margin: 0 -1000em;
      /*
      			&:before{
      				font-family: $icon;
      				@include font-size(6);
      				font-weight: 100;
      				left: 49.2%;
      				position: absolute;
      				top: 12%;
      				vertical-align: middle;
      				z-index: 130;
      				content: "\e008";
      				
      			}
      */
      /* highlight sub-menu current page */ }
      .js .nav li ul.show.sub-menu li, .js .nav li ul.show.children li,
      .nav li ul.sub-menu li,
      .nav li ul.children li {
        /*
        if you need to go deeper, go nuts
        just remember deeper menus suck
        for usability. k, bai.
        */ }
        .js .nav li ul.show.sub-menu li:hover a, .js .nav li ul.show.sub-menu li:focus a, .js .nav li ul.show.children li:hover a, .js .nav li ul.show.children li:focus a,
        .nav li ul.sub-menu li:hover a,
        .nav li ul.sub-menu li:focus a,
        .nav li ul.children li:hover a,
        .nav li ul.children li:focus a {
          background: #e03806;
          border-radius: 2px; }
        .js .nav li ul.show.sub-menu li a, .js .nav li ul.show.children li a,
        .nav li ul.sub-menu li a,
        .nav li ul.children li a {
          font-size: 13.6px;
          font-size: 0.85rem;
          padding: 2px 0 2px 14px;
          border-right: 0;
          display: block;
          width: 200px;
          color: white; }
        .js .nav li ul.show.sub-menu li:last-child a, .js .nav li ul.show.children li:last-child a,
        .nav li ul.sub-menu li:last-child a,
        .nav li ul.children li:last-child a {
          border-bottom: 0; }
    .nav li:hover ul {
      top: auto;
      display: block;
      padding: 1em 1000em;
      margin: 0 -1000em; }

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar img {
  width: 100%;
  height: auto; }

.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */ }
  .widget ul li ul {
    margin-top: 0.75em;
    padding-left: 1em; }

input[type="search"] {
  width: 61%;
  float: left;
  padding: 2% 1%; }

.search-form .button {
  float: right;
  width: 35%; }

/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer {
  text-align: left; }
  .footer .widget {
    width: 22.92568%;
    width: calc((99.99% - 3rem) / 4);
    float: left;
    margin-left: 2.76243%;
    margin-left: calc(1rem * 1);
    position: relative; }
    .footer .widget.first {
      margin-left: 0; }
    .footer .widget.last {
      float: right; }
    .footer .widget:first-child {
      margin-left: 0; }
    .footer .widget ul {
      padding: 0;
      margin: 0; }
      .footer .widget ul li {
        padding: 0;
        margin: 0; }
  .footer .half-horizontal {
    border-bottom: 1px solid black;
    padding-bottom: 0.5em;
    margin-bottom: 1em; }
  .footer a:hover {
    color: #f95220;
    text-decoration: underline; }

.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */ }

/* end .footer-links */
.copyright br {
  display: none; }

/******************************************************************
Site Name: MEAT 
Author: Eivin + Andrew 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 30; }

/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
