/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

body {}

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 71.25em;
}

/*********************
HEADER STYLES
*********************/

.header {}

	#logo {}

/*********************
NAVIGATION STYLES
*********************/

.mobile-only{
	display: none;
	visibility: hidden;
}

nav[role=navigation]{
	float: right;
}

.nav {
	text-align: center;
	margin: 10px 0;
	vertical-align: middle;

	.js & {
		display: block;
		top: auto;
		right: auto;
		left: auto;
		max-height: 100%;
	}
	border: 0;
	ul {
		background:$black;
		margin-top:0;
	}

	a {
		border-bottom: 0;
		background: $brand-colour;

		/*
		you can use hover styles here even though this size
		has the possibility of being a mobile device.
		*/
		&:hover, &:focus {
			color: $white;
			background: darken($brand-colour, 10%);
			text-decoration: underline;
		}
	}

	li {
		float: left;
		position: relative;

		&:first-child {}
		&:last-child {}

		/*
		plan your menus and drop-downs wisely.
		*/
		ul.sub-menu,
		ul.children {
			margin-top: 0;
			border: 1px solid #ccc;
			border-top: 0;
			position: absolute;
			visibility: hidden;
			z-index: 8999;

			li {

				a {
					padding: 0.125em 1em;
					border-right: 0;
					display: block;
					width: 11em;
					border-bottom: 1px solid #ccc;

					&:hover,
					&:focus {}

					&:link {}
				}

				&:first-child {}

				&:last-child {

					a {
						border-bottom: 0;
					}
				}

				/*
				if you need to go deeper, go nuts
				just remember deeper menus suck
				for usability. k, bai.
				*/
				ul {
					top:0;
					left:100%;
				}
			}

			/* highlight sub-menu current page */
			li.current-menu-item,
			li.current_page_item,
			li.current_page_ancestor {
				a {}
			}
		}

		/* showing sub-menus */
		&:hover > ul {
			top: auto;
			visibility:visible;
		}

	} /* end .menu ul li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current_page_ancestor {
		a {}
	}  /* end current highlighters */

} /* end .nav */

/***************************************************
		D i a g o n a l   S i d e b a r s !

		This is where we can add a slanted
		bar to the end of a container. The
		height is wank though, so it needs
		to be pulled in from JS

		Should look like this:	[div]/


***************************************************/

@mixin slanted($slant-right, $colour){
	position: relative;
	background: $colour;

	.slanted{
		content: "";
		position: absolute;
		top: 0;
		width: $slant-right;
		right: -$slant-right;
		-webkit-backface-visibility: hidden;
		background-image: url('../images/slant.svg');
		background-size: 100% 100%;
		height: 100%;
	}

	#slant polygon { fill: $colour !important; }

}

.slant-right {
	@include slanted(15px, $brand-colour);
}


/*********************
FOOTER STYLES
*********************/

.footer{

	.widget {

		&.first{ margin-left: 0;}
		&.last{ float: right;}
		position: relative;


		&:first-child{
			margin-left: 0;
		}

		ul{
			padding: 0;
			margin: 0;

			li{
				padding: 0;
				margin: 0;
			}
		}
	}

	.half-horizontal{
		border-bottom: 1px solid $black;
		padding-bottom: 0.5em;
		margin-bottom: 1em;
	}

	a{
		&:hover{
			color: $brand-colour;
			text-decoration: underline;
		}
	}
}
